# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diretório de dependências do Node.js
# Contém todas as bibliotecas que o 'npm install' instala.
/node_modules

# Variáveis de ambiente
# Crucial para a segurança! Impede que suas chaves de API sejam enviadas.
.env

# Diretório de build do Vite
# Contém os arquivos otimizados para produção.
/dist

# Cache e logs do npm
npm-debug.log*
.npm